In [ ]:
1) Write an SQL query to print the first three characters of  FIRST_NAME from Worker
table.

ans: cursor.execute("select substring(first_name,1,3) from worker")
    
2)   Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.

ans:- cursor.execute(" select charindex("a","Amitabh")") as Position
    
3)     Write an SQL query to print the name of employees having the highest salary in each
department.

ans cursor.execute("select DEPT, MAX(SALARY) FROM Worker GROUP BY DEPT")